@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body{
	background-color: rgb(253, 250, 244);
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: rgb(243, 126, 72);
    color: rgb(244, 250, 133);
    text-align: center;
    padding: 20px 0;
    line-height: 0.8rem;
}

.back {
	position: fixed;
	right: 0.5vw;
	bottom: 1%;
	width: 6.5vw;
	margin-top: 1em;
	margin-bottom: 10px;
}
.back a {
	text-decoration: none;
}

.back span {
	background-color:rgba(255, 0, 0, 0.5);
	font-size: 2rem;
	color: yellow;
	padding: 0 10px 10px;
	border-radius: 50px;
	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-login {
  margin: 8vh auto;
  width: 340px;
  padding: 40px 20px;
}

.form-msg {
  margin: 2vh auto;
  width: 25rem;
  padding: 20px 5px;
}

.form-cad {
  margin: 8vh auto;
  width: 400px;
  padding: 20px 5px;
}

.form-cad label {
  margin-bottom: 2px;
  font-weight: 500;
}

.form-cad input {
  font-weight: 500;
  text-align: center;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


